.aboutMe {
  margin-top: 20em;
  .container-fluid {
    h1 {
      font-size: 128px;
      color: rgba(228, 220, 207);

      text-shadow: 0px 4px 30px rgb(29, 28, 28);
      margin-bottom: -3%;
      margin-left: 10%;
    }
  }
  .container {
    position: absolute;
    width: 50%;
    left: 25%;
    border-radius: 5px;
    background: #576f72;
    box-shadow: 0px 10px 45px 5px rgba(0, 0, 0, 0.8);
    p {
      padding: 3%;
      color: #e4dccf;
      line-height: 26px;
      font-family: 'EB Garamond';
      font-style: normal;
      font-weight: 800;
      font-size: 20px;
    }
  }
}
