$text-color: #dcd7c9;

.aboutMe {
  margin-top: 15em;
  .container-fluid {
    h1 {
      font-size: 128px;
      color: $text-color;

      text-shadow: 0px 4px 30px rgb(29, 28, 28);

      margin-left: 38%;
    }
  }
  .container {
    position: absolute;
    width: 50%;
    left: 25%;
    border-radius: 5px;
    background: $primary-color;
    box-shadow: 0px 10px 45px 5px rgba(0, 0, 0, 0.8);
    p {
      padding: 3%;
      color: $text-color;
      line-height: 26px;
      font-family: 'EB Garamond';
      font-style: normal;
      font-weight: 800;
      font-size: 20px;
    }
  }
}
