// variable
$primary-color: #0f0e0e;

.footer {
  margin-top: 10em;

  .container-fluid {
    ul {
      margin-top: 5%;
      margin-bottom: 5%;
      display: flex;
      justify-content: center;
      li {
        margin-left: 5%;
        img {
          background-color: transparent;
          border: none;
        }
      }
    }
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;

    a {
      text-decoration: none;
      color: #ffffff;
      &:hover {
        text-decoration: underline;
      }
    }
    p {
      color: #eeeeee;
      font-size: 1em;
      padding: 15px;
    }
  }
  background-color: $primary-color;
}
