// variable
$primary-color: #2c3639;

.footer {
  margin-top: 10em;
  height: 50px;
  .container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;

    a {
      text-decoration: none;
      color: #ffffff;
      &:hover {
        text-decoration: underline;
      }
    }
    p {
      color: #e4dccf;
      font-size: 1em;
      padding: 15px;
    }
  }
  background-color: $primary-color;
}
