.footer {
  margin-top: 10em;
  height: 50px;
  .container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;

    a {
      text-decoration: none;
      color: #e4dccf;
      &:hover {
        text-decoration: underline;
      }
    }
    p {
      font-size: 1em;
      padding: 15px;
    }
  }
  background-color: #576f72;
}
