// variable
$primary-color: #2c3639;
$text-color: #dcd7c9;
.hero {
  margin-top: 8%;
  //   background-color: red;

  h1 {
    color: $text-color;
    font-size: 32px;
    line-height: 50px;
    text-shadow: 2px 2px #576f72;
    .name {
      color: #ca3636;
    }
    .type {
      text-shadow: 2px 2px #576f72;
    }
  }
  .type {
    text-shadow: 2px 2px #576f72;
  }
  h5 {
    font-family: 'EB Garamond';
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    line-height: 20px;
    color: $text-color;
  }
  .photo {
    img {
      margin-left: 35%;
      background: $primary-color;
      width: 300px;
      height: 300px;
      box-shadow: 0px 0px 25px 5px black;
      border-color: transparent;

      &:hover {
        box-shadow: 0px 0px 45px 5px rgba(0, 0, 0);
      }
    }
  }
  .row {
    button {
      font-size: 12px;
      background-color: $primary-color;
      color: $text-color;
      border-color: #f0ebe3;
      border-width: 3px;
      border-radius: 10px;
      &:hover {
        background-color: #20b812;
      }
    }
  }
}
