// variable
$primary-color: #2c3639;
$text-color: #eeeeee;
.hero {
  &:hover {
    background-color: rgba(15, 14, 14, 0.6);
  }
  max-height: 500px;
  background-color: #0f0e0e;
  margin-top: 8em;

  h1 {
    color: $text-color;
    font-size: 32px;
    line-height: 50px;
    text-shadow: 2px 2px #576f72;
    .name {
      color: #8b9a46;
      text-shadow: none;
    }
    .type {
      text-shadow: 2px 2px #576f72;
    }
  }
  .type {
    text-shadow: 2px 2px #576f72;
  }
  h5 {
    font-family: EB Garamond;
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    line-height: 20px;
    color: $text-color;
  }
  .photo {
    img {
      margin-top: 5%;
      margin-bottom: 5%;
      background-color: #0f0e0ef7;
      box-shadow: 0px 0px 45px 5px rgba(0, 0, 0, 0.5);
      &:hover {
        box-shadow: 0px 0px 45px 5px rgba(0, 0, 0);
      }
    }
  }
  .row {
    .text {
      margin-left: 10%;
    }
    button {
      font-size: 12px;
      background-color: $primary-color;
      color: $text-color;
      border-color: #f0ebe3;
      border-width: 3px;
      border-radius: 10px;
      &:hover {
        background-color: #20b812;
      }
    }
  }
}
