.hero {
  margin-top: 8%;
  //   background-color: red;

  h1 {
    color: #e4dccf;
    font-size: 32px;
    line-height: 50px;
    text-shadow: 2px 2px #576f72;
    .name {
      color: #ca3636;
    }
    .type {
      text-shadow: 2px 2px #576f72;
    }
  }
  .type {
    text-shadow: 2px 2px #576f72;
  }
  h5 {
    font-family: 'EB Garamond';
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    line-height: 20px;
    color: rgb(197, 205, 205);
  }
  .photo {
    img {
      margin-left: 35%;
      background: linear-gradient(
        0deg,
        rgba(84, 193, 207, 1) 0%,
        rgba(85, 181, 193, 0.799614914325105) 20%,
        rgba(85, 172, 183, 0.5979342420561975) 40%,
        rgba(86, 147, 155, 0.4018558106836485) 55%,
        rgba(87, 135, 141, 0.6007353625043768) 70%,
        rgba(87, 123, 128, 1) 85%,
        rgba(87, 111, 114, 0.7968137938769257) 100%
      );
      width: 300px;
      height: 300px;
      box-shadow: 0px 0px 25px 5px black;
      border-color: transparent;

      &:hover {
        animation: myrotation 1s forwards;
        filter: grayscale(0);
        box-shadow: 1px 1px 20px 0 rgba(0, 0, 0);
      }
    }
  }
  .row {
    button {
      font-size: 12px;
      background-color: #444647;
      color: #f0ebe3;
      border-color: #f0ebe3;
      border-width: 3px;
      border-radius: 10px;
      &:hover {
        background-color: #20b812;
      }
    }
  }
}
