// variable
$primary-color: #2c3639;
$text-color: #dcd7c9;

.navbar {
  border-bottom: 3px solid #191b1b;
  background-color: $primary-color;

  .navbar-brand {
    margin-left: 2%;
    font-size: 30px;
    font-family: EB Garamond;
    img {
      &:hover {
        opacity: 0.5;
      }
    }
  }
  a {
    color: $text-color;
    text-shadow: 2px 2px #171c1c;
  }
  .navbar-nav {
    margin-left: 25%;

    li {
      align-items: center;
      a {
        font-size: 24px;
        &:hover {
          color: #dcd7c954;
        }
        &:visited {
          color: $text-color;
        }
      }
    }
  }
  button {
    background-color: #3f4e4f;
    color: transparent;
    border: 3px solid #161c1d;
  }
}
