// variable
$primary-color: #0f0e0e;
$text-color: #eeeeee;

.navbar {
  opacity: 0.9;
  border-bottom: 1px solid #eeeeee26;
  background-color: $primary-color;

  .navbar-brand {
    margin-left: 10%;
    font-size: 30px;
    font-family: EB Garamond;
    img {
      &:hover {
        opacity: 0.5;
      }
    }
  }
  a {
    color: $text-color;
    text-shadow: 2px 2px #171c1c;
  }
  .navbar-nav {
    margin-left: 55%;

    .nav-item {
      margin-left: 10%;
    }

    li {
      a {
        font-size: 16px;
        &:hover {
          color: #dcd7c954;
        }
        &:visited {
          color: $text-color;
        }
      }
    }
  }
  button {
    background-color: #0f1212;
    color: transparent;
    border: 2px solid $text-color;
    &:hover {
      opacity: 0.8;
    }
  }
}
