$text-color: #dcd7c9;

.skills {
  margin-top: 35em;
  margin-left: 8%;
  h1 {
    font-size: 128px;
    color: $text-color;
    text-shadow: 0px 5px 30px rgb(29, 28, 28);
    margin-left: 33%;
  }
}
