// X-Large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) {
  //   * {
  //     background-color: red;
  //   }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
  //   * {
  //     background-color: yellow;
  //   }
}
// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  // * {
  //   background-color: green;
  // }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  // * {
  //   background-color: pink;
  // }
  .skills {
    img {
      width: 120px;
      height: 120px;
    }
  }
}

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  // * {
  //   background-color: blue;
  // }
  .skills {
    margin-top: 40em;

    img {
      width: 80px;
      height: 80px;
    }
    h1 {
      font-size: 68px;
    }
  }
}
